/* Utility Styles */

* {
    color: black;
    margin: 0;
    padding: 0;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url(./assets/tie-dye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.hero h2 {
    color: yellow;
    text-align: center;
    vertical-align: middle;
    display: flex;
}