/* Utility Styles */

* {
    background-color: black;
    color: white;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url(./assets/tie-dye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}