/* Utility Styles */

* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles Start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    background-attachment: fixed;
    font-family: monospace, Lucida Console, sans-serif;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

header h1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
}

header nav ul li a {
    padding: 0 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
    color: rgb(255, 255, 255)
}

header nav ul li a:hover {
    color: rgb(0, 0, 0)
}


/* Hero Styles Start */
.hero {
    height: 250px;
    width: 100%;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-attachment: fixed;
}

.hero h2 {
    color: black;
    margin-top: auto;
    font-family: monospace, Lucida Console, sans-serif;
}

/* Work Styles Start */
.scroll-test {
    height: 800px;
    width: 100%;
    border: solid 1px black;
    background-color: royalblue;
}

/*Footer Styles Start */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 25px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

footer ul li {
    padding: 10px 15px;
}