/* Utility Styles */

* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles Start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    background-attachment: fixed;
    font-family: monospace, Lucida Console, sans-serif;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

header h1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
}

header nav ul li a {
    padding: 0 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
    color: rgb(255, 255, 255)
}

header nav ul li a:hover {
    color: rgb(0, 0, 0)
}

/* Hero Styles Start */
.hero {
    height: 250px;
    width: 100%;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-attachment: fixed;
}

.hero h2 {
    color: black;
    margin-top: auto;
    font-family: monospace, Lucida Console, sans-serif;
}

/* H3 Styles Start */
h3 {
    font-size: 36px;
    color: rgb(21, 28, 94);
    width: 15%;
    border: 2px solid rgb(21, 28, 94);
    text-align: right;
    padding: 10px 15px;
    padding-right: 10px;
    margin: 10px 15px;
}

/* General Section Styles Start */
.section {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid blue;
}

.content {
    width: 85%;
    padding: 15px;
    border: 1px solid green;
}

/* About Me Styles Start */
#about .content p {
    padding: 10px 15px;
    border: 1px solid red;
}

/* Work Styles Start  */
/* .work {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 15px;
}
*/
#work .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    padding: 10px 15px;
    border: 1px solid green;
}

.project1 {
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid red;
}

.project2 {
    position: relative;
    padding: 10px 15px;
    margin: 10px 10px;
    border: 1px solid red;
    width: 45%;
    height: 200px;
}

.project3 {
    position: relative;
    padding: 10px 15px;
    margin: 10px 10px;
    border: 1px solid red;
    width: 45%;
    height: 200px;
}


.project4 {
    position: relative;
    padding: 10px 15px;
    margin: 10px 10px;
    border: 1px solid red;
    width: 45%;
    height: 200px;
}

.run-buddy {
    position: relative;
    padding: 10px 15px;
    margin: 10px 10px;
    border: 1px solid red;
    width: 45%;
    height: 200px;
}


.project2::before {
    content: "";
    background-image: url(../images/led-wall.webp);
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.project2:hover::before {
    opacity: 1;
}

.project3::before {
    content: "";
    background-image: url(../images/numbers.jpg);
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.project3:hover::before {
    opacity: 1;
}

.project4::before {
    content: "";
    background-image: url(../images/puzzle.jpg);
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.project4:hover::before {
    opacity: 1;
}

.run-buddy::before {
    content: "";
    background-image: url(../images/run-buddy-img.PNG);
    opacity: 0.75;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.run-buddy:hover::before {
    opacity: 1;
}

/* Text Inside Project Images */
#work .content div {
    position: relative;
    color: black;
    font-size: 24px;
    font-family: monospace, Monaco, sans-serif;
    border: solid 1px black;
}

/*Footer Styles Start */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid green;
    width: 85%;
}

footer ul li {
    padding: 10px 15px;
    border: 1px solid red;
}

@media screen and (max-width: 980px) {
    h3 {
        padding: 0 0 10px 0;
        font-size: 24px;
        margin: 2px;
        max-width: 100px;
    }

    .section {
        padding: 0 0 10px 0;
        margin: 2px;

    }

}

@media screen and (max-width: 768px) {
    h3 {
        padding: 0 0 10px 0;
        font-size: 18px;
        margin: 1px;
        max-width: 20px;
    }

    .section {
        padding: 0 0 10px 0;
        margin: 2px;
    }
}