/* Utility Styles */

* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles Start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    background-attachment: fixed;
    font-family: monospace, Lucida Console, sans-serif;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

header h1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
}

header nav ul li a {
    padding: 0 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
    color: rgb(255, 255, 255)
}

header nav ul li a:hover {
    color: rgb(0, 0, 0)
}

/* Hero Styles Start */
.hero {
    height: 250px;
    width: 100%;
    background-image: url(../images/tie-dye.jpg);
    background-size: cover;
    background-position: 0 -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-attachment: fixed;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.hero h2 {
    color: black;
    margin-top: auto;
    font-family: monospace, Lucida Console, sans-serif;
}

.hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin-right: 85%;
    margin-top: auto;
}

/* H3 Styles Start */
h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    width: 15%;
    border-right: 2px solid rgb(0, 0, 0);
    text-align: right;
    padding: 10px 15px;
    padding-right: 10px;
    margin: 10px 15px;
}

/* General Section Styles Start */
body {
    background-color: rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    width: 100%;
    padding: 10px 15px;
}

.content {
    width: 85%;
    padding: 15px;
}

/* About Me Styles Start */
#about .content p {
    padding: 10px 15px;
}

/* Work Styles Start  */
#work .content {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 10px 10px;
}

.project1 {
    position: relative;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 3px solid rgba(0, 0, 0, 1);
    width: 100%;
    height: 400px;
    border-radius: 22px;
}

.content a:not(:first-child) {
    position: relative;
    flex-grow: 1;
    padding: 10px 15px;
    margin: 10px 10px;
    border: 3px solid rgba(0, 0, 0, 1);
    width: 45%;
    height: 200px;
    border-radius: 22px;
}

.content a:hover {
    opacity: 1;
}

.content a {
    opacity: 0.75;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

/* Project Background Images */
.project1 {
    background-image: url(../images/project.PNG);
}

.project2 {
    background-image: url(../images/led-wall.webp);
}

.project3 {
    background-image: url(../images/numbers.jpg);
}

.project4 {
    background-image: url(../images/puzzle.jpg);
}

.run-buddy {
    background-image: url(../images/run-buddy-img.PNG);
}

/* Text Inside Project Images */
.section .content div {
    position: absolute;
    bottom: 25px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.section .content h4 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: monospace, Monaco, sans-serif;
}

.section .content span {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: monospace, Monaco, sans-serif;
}

/*Footer Styles Start */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    width: 85%;
}

footer ul li {
    margin: 10px;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
}

footer ul li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: monospace, Monaco, sans-serif;
}

/* Media Queries */
@media screen and (max-width: 980px) {
    h3 {
        font-size: 24px;
    }

    .section {
        padding: 0 0 10px 0;
        margin: 2px;

    }

    .content a:not(:first-child) {
        width: 100%; 
    }

    header nav ul li a {
        font-size: 18px;
    }

    header {
        justify-content: center;
    }

    .hero {
        align-items: center;
        justify-content: center;
    }

    .hero img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        text-align: center;
        width: 60%;
        border-bottom: 2px solid rgb(21, 28, 94);
        border-right: none;
        margin: 0 auto;
    }

    .section {
        display: block;
        margin: 2px;
    }

    .content {
        width:100%;
    }

    header nav ul {
        justify-content: center;
    }

    #work .content {
        width: 100%;
    }

    footer ul {
        width: 100%;
    }

    header nav ul li a {
        font-size: 16px;
    }

}

@media screen and (max-width: 575px) {
    .hero h2 {
        font-size: 18px;
    }
}